body{
    background-image: url('blue-sky_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3,h2{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: solid, underline;
}
.grid{
    padding-left: 35%;
    padding-right: 35%;
    display: flex;
    flex-flow: wrap;
    height: auto;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.grid div{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    /* border-color: brown; */
    border-style: solid;
}
.player-one{
    background-color:yellow;
    border-radius: 10px;
}
.player-two{
    background-color:red;
    border-radius: 10px;
}
.floor{
    background-color: black;
}